* {
   border:        none;
   font-family:   Inconsolata;
   font-size:     16px;
   font-weight:     bold;
   box-shadow:    none;
   text-shadow:   none;
   transition-duration: 0s;
   min-height: 0px;
}

window {
   color: #FAE3B0;
   background: #161320;
   margin-top: 0px;
   margin-bottom:0px;
   opacity: 0.7;
}

window#waybar.solo {
   color: #FAE3B0;
   /* background: #1E1E2E; */
}

#workspaces {
   border-radius: 5px;
   background: #1E1E2E;
   transition: none;
}

#workspaces button {
   border-top: 1px solid #1E1E2E;
   transition: none;
   color:      #FAE3B0;
   background: transparent;
}

#workspaces button.visible {
   border-top: 1px solid #2aa198;
   color:      #2aa198;
}

#workspaces button.focused {
   border-top: 1px solid #e8a2af;
   color: #abe9b3;
}

#workspaces button:hover {
   border-top: 1px solid #f28fad;
   transition: none;
   box-shadow: inherit;
   text-shadow: inherit;
   color: #f5c2e7;
}

#workspaces button.urgent {
   color:      rgba(238, 46, 36, 1);
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
   margin:     0px 0px 0px 0px;
   min-width:  25px;
   color: #FAE3B0;
   background: #1e1e2e;
   border-radius: 5px;
}

#clock {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
}

#network {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   background: #073642;
}

#custom-notif {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 55555px;
   transition: none;
   color: #4d4d4d;
   background: rgb(238,130,238);
}

#custom-cmus {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(188, 143, 143, 0.85);
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
   color:      rgba(238, 46, 36, 1);
}

#battery.charging {
   color:      #FAE3B0;
}

#custom-tidepool {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
}

#custom-tidepool.red {
   background: rgba(205, 92, 92, 0.85);
}

#custom-tidepool.orange {
   background: rgba(243, 156, 18, 0.85);
}

#custom-tidepool.yellow {
   background: rgba(252, 214, 112, 0.85);
}

#custom-tidepool.green {
   background: rgba(154, 205, 50, 0.85);
}

#custom-time {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(154, 205, 50, 0.85);
}

#custom-weather {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(218, 112, 214, 0.85);
}

#custom-unsync {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(154, 237, 254, 0.85);
}

#custom-storage {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(154, 237, 254, 0.85);
}

#custom-storage-tor {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(154, 237, 254, 0.85);
}

#custom-snapcount {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(154, 237, 254, 0.85);
}

#pulseaudio {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   background: #1E1E2E;
}

#cpu {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #FAE3B0;
   background: #1E1E2E
}

#battery {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   background: #1E1E2E;
}

#memory {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   color: #4d4d4d;
   background: rgba(222, 184, 135, 0.85);
}

#tray {
   margin-left: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 5px;
   transition: none;
   background: #1e1e2e;
}

#custom-storage.warning {
   color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
   color:      rgba(238, 46, 36, 1);
}
